doctype html
html
  head
    title Editar Categoria
  body
      
    form(action=`/categories/${category.id}?_method=PUT` method="POST")
        input(type="text" name="title" value=category.title placeholder="Título de la categoria")
        input(type="color" name="color" value=category.color)
        input(type="submit" value="Actualizar")