doctype html
html
  head
    title Nueva Categorias
  body
      
    form(action="/categories" method="POST")
        input(type="text" name="title" placeholder="Título de la categoria")
        input(type="color" name="color")
        input(type="submit" value="Guardar")