doctype html
html
    head
        title Tareas
    body
        form(action=`/tasks/${task.id}?_method=PUT` method="POST")
            input(type="text" name="categories" placeholder="ID de categorías separados por coma")
            textarea(name="description" placeholder="Coloca aqui la tarea")= task.description
            input(type="submit" value="Guardar")