doctype html
html
    head
        title Tareas
    body
        form(action="/tasks" method="POST")
            textarea(name="description" placeholder="Coloca aqui la tarea")
            input(type="submit" value="Guardar")